{% csrf_token %}
{% load static %}
<html>
<head>
<link rel="stylesheet" href="{% static "login/index.css" %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

 <header>
      
      <nav class="navbar navbar-expand-lg navbar-light py-3">
          <a class="navbar-brand mb-1" href="/">Your Future Best Worker</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/">Home </a>
              <a class="nav-item nav-link" href="/candidates/">Candidates</a>
            </div>
          </div>
      </nav>
  </header>


<div class="content">
<h2>LOGIN</h2>
<form method="post" >
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-warning">Log in</button>
</form>
</div>
</body>