{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link rel="stylesheet" href="{% static "frontend/index.css" %}">
  <link rel="stylesheet" href="{% static "frontend/colorSchemePrimary.css" %}">
  <title>Dashboard</title>
</head>
<body>
<header>
      
      <nav class="navbar navbar-expand-lg navbar-light py-3">
          <a class="navbar-brand mb-1" href="../../">Your Future Best Worker</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/candidates">Candidates</a>
            </div>   
          </div>
          {% if user.is_authenticated %}
                <span style="color: black;">Hi {{user.first_name}} {{user.last_name}}<a class="btnn btnn-outline-white my-2 my-sm-0 ml-3" href="/logoutuser">Log out</a></span>
              {% else %}
              <a class="btnn btnn-outline-white my-2 my-sm-0 ml-3" style="color: black;" href="/login">Log in</a>
              {% endif %}
      </nav>
  </header>
  <input id="data" style="display: none;" value="{{ data }}" />
  <input id="recruters" style="display: none;" value="{{ recruters }}" />
          <div id="root"><!-- React --></div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "frontend/main.js" %}"></script>
<script>
  $(".drop-down").parents(".person").find(".show-content").slideToggle(0);
  $(".drop-down").on("click", function() {
    $(this).parents(".person").find(".show-content").stop().slideToggle(200);
  });
  
</script>
</html>