body {
    background-color: #303030;
    color: #fff;
    font-family: 'Arial';
}

.w50 {
background-color: #424242;
 width: 22%;
 margin: 0 auto;
 margin-top: 200px;
}

label {
    margin: 0px 5px 0px 10px;
    width: 50%;
    display: inline-block;
    font-size: 23px;
}

input {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)!important;
    background-color: #303030;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    transition: all 0.8s;
    width: 50%;
    margin: 0;
 
}


input:focus {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15)!important;
    background-color: #303030;
    outline: none;
}

.btn {
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21)!important;
    padding: .40rem 1.10rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: inherit;
    width: 100%;
    margin-top: 15px;
}

.btn-warning {
    color: #212529;
    background-color: #ffbf00;
    border-color: #ffbf00;
}
input:-internal-autofill-selected {
    background-color: #303030 !important;
    background-image: none !important;
    color: rgb(255, 255, 255) !important;
}

h3 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: #ffbf00;
    width: 100%;
    letter-spacing: 5px;
    color: black;
}

nav {
    background-color: #ffbf00 !important;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
}
.nav-link {
    font-size: 18px;
}

h1 {
    color: rgb(102, 99, 99);
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
}